html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background: #fff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #ff9b04;
}

::selection {
    color: #fff;
    background: #ffb445;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s;
}

.container2 {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container2 {
        width: 1350px;
    }
}

.loader {
    opacity: 1;
    transition: .6s;
}

.loader_active {
    opacity: 0;
}

.loader img {
    animation: 2s linear infinite reverse  loader;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.header_bottom {
    box-shadow: 0 4px 10px -8px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
    .header_bottom {
        box-shadow: none;
    }
}

#nav:checked+nav {
    height: fit-content;
}

#nav+nav {
    transition: 0.3s ease-in-out;
    padding: 0;
}

/* x-mark transform animation */
.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 8px;
}

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    color: #222;
    border: 2px solid #222;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    background: #ff9b04;
    border-color: #ff9b04;
    color: #fff;
}

.btn:active {
    transform: scale(0.9);
}

.btn_orange {
    color: #fff;
    border: 2px solid #ff9b04;
    background: #ff9b04;
}

.btn_orange:hover {
    background: #fff;
    color: #ff9b04;
}

.grid_item img {
    transition: 0.7s;
}

.grid_item:hover img {
    transform: scale(1.2);
}

.work_num {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.07),
        inset 1px 1px 1px 0 rgba(0, 0, 0, 0.04);
}

.like {
    transition: 0s !important;
}

footer div ul li:hover a {
    color: #ff9b04;
}

footer div ul li:hover {
    transform: translateX(5px);
}
